{% extends 'base.html' %}{% block title %}Error{% endblock%} {% block content%}
<section>
	<div class="container mt-5">
		<div class="columns is-centered">
			<div class="column is-half has-text-centered">
				<article class="message is-dark">
					<div class="message-header">
						<p>{{error}}: {{text}}</p>
					</div>
					<div class="message-body">
						<figure class="image is-256x256 is-1by1">
							<a href="/"><img src="https://files.catbox.moe/e0e8em.jpg" /></a>
						</figure>
					</div>
				</article>
			</div>
		</div>
	</div>
</section>
{% endblock %}
