{% extends 'base.html' %} {% block title %}Playlists{% endblock%} {% block
content%}
<section>
	<div class="container mt-5">
		<div class="columns is-centered">
			<div class="column is-half has-text-centered">
				<article class="message is-dark">
					<div class="message-header">
						<p>Saved Playlists</p>
					</div>
					<div class="message-body">
						{% for pl in playlists %}
						<div class='my-2 mx-1'>
						<a class="button is-primary" href="/playlists/{{pl.id}}/tracks">
							<span class="icon">
								<i class="fas fa-music"></i>
							</span>
							<span>{{pl.name}}</span>
						</a>
					</div>
						{% endfor %}
					</div>
				</article>
			</div>
		</div>
	</div>
</section>
{% endblock %}
